{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<h2>Sobre este site</h2>
<p>
    Esse é um site desenvolvido para a disciplina PMR3304 - Sistemas de Informação para uma segunda entrega da disciplina e tem como intuito aplicar alguns conhecimentos vistos em aula e aplicações de desenvolvimento rápido.
</p>
<p>Nele, foram aplicados os conceitos de Django e SQLite para a estruturação de um backend além do básico esqueleto com CSS e HTML desenvolvido na primeira entrega</p>

<img src="https://media1.tenor.com/m/cqBwBNRhsWoAAAAd/demoni-dan%C3%A7ando-devil.gif" alt="look it moves"  width="800" />

{% endblock content %}
